/* Theme change Section */
body.theme-dark {
background-color: #344955;
}
body.theme-light {
    background-color: #216d98;
}

.theme-light .no-letter {
    background-color: #189cc199;
    border: 2px solid #ffffff;
}
.theme-light .has-letter {
    background-color: #00bdd8;
    border: 2px solid #216d98;
}

.theme-dark .no-letter {
    background-color: #4A6572;
    border: 2px solid #7497a9;
}

.theme-dark .has-letter {
    background-color: #5387b5;
    border: 2px solid #7497a9;
}


.has-letter {
    transition: transform 0.5s;
    transform: rotateY(0deg);
    animation: pop-up;
    animation-duration: 3s;
}
.hide-letter{
    transform: rotateY(180deg);
}

.theme-dark .category{
    background-color: #4A6572;
    border: 2px solid #7497a9;
}


.theme-light .category {
    background-color: #189cc199;
    border: 2px solid #ffffff;
}

.hide-letter{
    transform: rotateY(180deg);
}
@keyframes pop-up {
    0%{transform: scale(0.8); opacity: 0;}
    80%{transform: scale(1); opacity: .8;}
    100%{transform: scale(1); opacity: 1;}
}

.notification {
    display: none;
    margin-left: 18%;
    margin-right: 18%;
    color: transparent;
    flex: auto;
    background-color: #f5f0f0;
    border-radius: 3px;
    box-shadow: 2px 3px 0 1px #b3b2af;
    font-size: 27px;
    font-family: 'Lato', sans-serif;
    font-weight: 600;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.notification-success{
    display: block;
    color: green;
    animation-delay: 3ms;
    animation: pop-up 3s;
}

.notification-fail{
    display: block;
    color: red;
    animation-delay: 3ms;
    animation: pop-up 1s;
}

.theme-switch__input:checked ~ html > body {
    --gradred: #1e553e;
    background-color: var(--gradred) !important;
}
/* */

.game-table .hide-letter {
    color: transparent;
}

.dropdown-toggle::after {
    display: none;

}

.dropdown-menu .dropdown-item:disabled {
    color: white;
    background-color: #ffc107;
    border-radius: 5px;
    font-weight: bold;
}



/* --- welcome.blade.php ---*/
.row-0 > .hidden, .row-3 > .hidden {   /* --- Hiding cells in the corners ---*/
    border: 0;
    opacity: 0;
}



.navbar-custom {
    background-color: #232F34;
    box-shadow: -1px -2px 2px 6px rgba(0, 0, 0, 0.31);
}



.header {
    font-size: 32px;
    background: -webkit-linear-gradient(#eee, #333);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.navbar-dark .navbar-brand {
    color: #fff;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    font-size: 30px;
}
.category {
    width: auto;
    border-radius: 2px;
    margin: 10px 18% 30px;
}


.category span{
    color: orange;
    font-family: 'Lato', sans-serif;
    font-weight: 600;
    font-size: 30px;
    letter-spacing: 3px;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.flex-item {

    flex: 100%;
    text-align: center;
    height: 500px;
}


.flex-item > table {
    margin: 0 auto;
    border-collapse: separate;
    border-spacing: 12px;
}

.flex-item-letters-table {
    display: flex;
    flex-wrap: wrap;
    padding-left: 5%;
    padding-right: 5%;

}

.game-table td {
    height: 100px;
    min-width: 80px;
    text-align: center;
    font-size: 40px;
    border-radius: 5px;
    padding: 10px;
    border-collapse: separate;
    border-spacing: 5px;
    box-shadow: 7px 7px 37px 1px rgba(0, 0, 0, 0.69);
    text-transform: uppercase;
    font-weight: 700;
    font-family: 'Lato', sans-serif;
    color: whitesmoke;
    -webkit-user-select: none; /* Safari 3.1+ */
    -moz-user-select: none; /* Firefox 2+ */
    -ms-user-select: none; /* IE 10+ */
    user-select: none; /* Standard syntax */

}



/* --- Keyboard style --- */

.letters {
    display: flex;
    flex: 100%;
    text-align: center;
    height: 55px;
    align-items: center;
    flex-direction: row;
}

.letters > div {
    flex: auto;
    margin: 9px;
    background-color: #f5f0f0;
    border-radius: 3px;
    box-shadow: 2px 3px 0 1px #b3b2af;
    font-size: 27px;
    text-transform: uppercase;
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    transition: all .2s ease-in-out .10ms;
    -webkit-user-select: none; /* Safari 3.1+ */
    -moz-user-select: none; /* Firefox 2+ */
    -ms-user-select: none; /* IE 10+ */
    user-select: none; /* Standard syntax */
}
.letters > div:hover {
    transform:scale(1.3,1.3);
    cursor: grab;
}

/* ---- Buttons section ---- */

.buttons {
    padding-left: 3%;
    padding-right: 3%;
    flex: 100%;
    flex-wrap: wrap;
    padding-top: 20px;
    text-align: center;
    height: 80px;
}

.btn-yellow {
    background-color: #deb80c;
    color: white;
    font-weight: 800;
    box-shadow: 0 6px #c59d23;
    -webkit-transition: none;
    -moz-transition: none;
    transition: none;
}

.btn-yellow:hover {
    box-shadow: 0 8px #c59d23;
    color: white;
}

.btn-red {
    background-color: #cb4e4e;
    color: white;
    font-weight: 800;
    box-shadow: 0 6px #ab3c3c;
    -webkit-transition: none;
    -moz-transition: none;
    transition: none;
}

.btn-red:hover {
    box-shadow: 0 8px #ab3c3c;
    color: white;
}

.btn-green {
    background-color: #249e21;
    color: white;
    font-weight: 800;
    box-shadow: 0 6px #027900;
    transition: all .3s ease-in-out;
}

.btn-green:hover {
    box-shadow: 0 8px #027200;
    color: white;
}



/* --- Responsive section --- */
.technical-break {
    display: none;
    width: 100%;
    height: 100vh;
    padding-top: 20vh;
    background-color: #deb80c;
    z-index: 2;
    font-size: 25px;
    color: white;
    text-align: center;
    bottom: 0;
}
@media (max-width: 2170px) {

    .flex-item-letters-table {
        margin-top: 5px;
    }


}

@media (max-width: 1270px) {


    .flex-item-letters-table {
        margin-top: 50px;
    }
    .letters > div {
        margin: 5px;
    }
    .game-table td {
        height: 70px;
        min-width: 50px;
        font-size: 25px;
    }

    .flex-item {
        flex-direction: column;
        padding-left: 2px;
        padding-right: 2px;
        height: 350px;
    }

    .flex-item > table {
        border-collapse: separate;
        border-spacing: 6px;
    }

    .letters {
        height: 60px;
    }

}

@media (max-width: 810px) {

    .flex-item-letters-table {
        margin-top: 20px;
    }

    .header {
        font-size: 20px;

    }


    .tile, td {
        height: 70px;
        min-width: 45px;
        font-size: 25px;
    }

    .flex-item > table {
        border-collapse: separate;
        border-spacing: 4px;
    }

    .flex-item {
        flex-direction: column;
        padding-left: 2px;
        padding-right: 2px;
        height: 350px;
    }

    .letters > div {


        margin: 2px;
        padding: 5px;
        border: #e7e7e7 solid;
        border-radius: 3px;
        box-shadow: 0 6px #cbcbcb;
        font-size: 15px;
        flex-wrap: wrap;
    }
}

@media (max-width: 760px) {
    .header {
        font-size: 20px;
    }
    .game-table td {
        border-collapse: separate;
        border-spacing: 4px;
        height: 50px;
        min-width: 25px;
        font-size: 20px;
    }
    .flex-item {
        flex-direction: column;
        padding-left: 2px;
        padding-right: 2px;
        height: 240px;
        margin-bottom: 20px;
    }
    .letters > div {
        margin: 1px;
        padding: 5px;
        border-color: #e7e7e7;
        border-radius: 3px;
        box-shadow: 0 6px #cbcbcb;
        font-size: 15px;
        flex-wrap: wrap;
    }
    .letters {
        height: 75px;
    }
}
@media (max-width: 600px) {
    .technical-break {
        display: block;
    }
    .flex-container {
        display: none;
    }

    .category {
        display: none;
    }
}
