@import  url(https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700);
body {
    overflow-x: hidden;
    background-color: #344955;
}
body .btn-danger:not(:disabled):not(.disabled).active, .btn-danger:not(:disabled):not(.disabled):active, .show>.btn-danger.dropdown-toggle {
    /* color: #fff; */
    background-color: #28a745;

    border-color: #28a745;
    /* border-color: #1c7430; */
    /*<--- main table --->*/
}

.alert {
    transition: all .2s ease-in-out .10ms;
}
.col-md-8 {
    margin-top: 20px;
    margin-bottom: 20px;
}

.table td, .table th {
    padding: .75rem;
    vertical-align: baseline;
    border-top: 1px solid #dee2e6;
}

.mybadge{
    border-radius: 3px;
    padding: 4px;
    color: white;
}
.header-title{
    font-size: 30px;
}
table {

    margin: 0;
    padding: 0;
    width: 100%;
    table-layout: fixed;
    color: black;
}

table caption {
    font-size: 1.5em;
    margin: .5em 0 .75em;
}

table tr {

    padding: .35em;
}

table th,
table td {
    padding: .625em;
    text-align: center;
}

table th {
    font-size: .85em;
    letter-spacing: .1em;
    text-transform: uppercase;
    background-color: #bcbcbc33;
}

@media screen and (max-width: 900px) {
div .col-md-10{
    padding-left: 15px;
    padding-right: 15px;
    }
    table {
        border: 0;
    }
    .header-title{
        font-size: 18px;
    }
    table caption {
        font-size: 1.3em;
    }

    table thead {
        border: none;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
    }

    table tr {
        border-bottom: 3px groove #5b95b173;
        border-radius: 3px;
        display: block;
        margin-bottom: .625em;
    }

    table td {
        border-bottom: 1px solid #ddd;
        display: block;
        font-size: .8em;
        text-align: right;
    }

    table td::before {

        content: attr(data-label);
        float: left;
        font-weight: bold;
        text-transform: uppercase;
    }

    table td:last-child {
        border-bottom: 0;
    }
}
/*<------>*/

.bg-dark {
    background-color: #232F34 !important;
}
#sidebar-wrapper {
    min-height: 100vh;
    margin-left: -15rem;
    -webkit-transition: margin .60s ease-out;
    -moz-transition: margin .60s ease-out;
    -o-transition: margin .60s ease-out;
    transition: margin .60s cubic-bezier(1,0,0,1);
}

.navbar {                       /* Fix navbara Wyrównanie do Menu */
    min-height: 65px;
}

.list-group-item {
    border: 1px solid rgba(0,0,0,.125);
    padding-top: 20px;
    padding-bottom: 20px;
}



.sidebar-heading span{
    font-size: 25px;
    color: white;
    font-family: 'Lato', sans-serif;
}

.navbar-expand-lg .btn-primary {
border: none;
background-color: #343a40;
}

.btn-small{
    margin: auto;
}

#sidebar-wrapper a{
    color: rgba(227, 227, 227, 0.86);
}

#sidebar-wrapper .sidebar-heading {
    padding: 0.875rem 1.25rem;
    font-size: 1.2rem;
    color: white;
}

#sidebar-wrapper .list-group {
    width: 15rem;
}

#page-content-wrapper {
    min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
    margin-left: 0;
}

.col-md-10{
    margin-top: 20px;
    margin-bottom: 20px;
}

@media (max-width: 768px) {
    .panel-table td {
        font-size: 14px;

    }
}

@media (min-width: 768px) {
    #sidebar-wrapper {
        margin-left: 0;
    }
    #page-content-wrapper {
        min-width: 0;
        width: 100%;
    }

    #wrapper.toggled #sidebar-wrapper {
        margin-left: -15rem;
    }
}