.navbar-custom {
    background-color: #232F34;
    box-shadow: -1px -2px 2px 6px rgba(0, 0, 0, 0.31);
}

html > body {
    background-color:  #344955;
}
.flex-container-about{
    flex: 100%;
    flex-wrap: wrap;
    justify-content: center;
}

.flex-item-about{
    justify-content: center;
    text-align: center;
    margin-top: 20px;
    font-family: 'Lato', sans-serif;
    color: black;
}

.text-warning{
    color: #5d5d5d;
    font-weight: bold;
    font-size: 40px;
    letter-spacing: 3px;
    margin-top: 20px;
}

.navbar-dark .navbar-brand {
    color: #fff;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    font-size: 30px;
}

.authors{
margin-top: 30px;
}
.card {
    display: inline-block;
}
.flex-container {
    flex-flow: row wrap;
    display: flex;
    justify-content: space-around;
    padding-left: 3%;
    padding-right: 3%;
}